#numeritos {
  display: flex;
  gap: 25px;
}

#habilidadesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#habilidadesDiv > div {
  flex: 0 0 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: anchor-center;
  text-align: center;
  margin-bottom: 20px;
}

#habilidadesDiv > div input {
  width: 40px;
  text-align: center;
}

#habilidadesDiv img {
  width: 120px;
  height: 120px;
}

#inventario input[type='number'] {
  width: 25px;
  text-align: center;
}

#equipamiento .cantidadMod {
  width: 35px;
}

#equipamiento .equipo {
  margin-bottom: 15px;
}

#equipamiento .modificadorEquipo {
  margin-bottom: 15px;
}

#listadoModificadores .modificador {
  display: flex;
  margin-bottom: 10px;
  gap: 5px;
}

#listadoModificadores .modificador .cantidadMod {
  width: 35px;
  text-align: center;
}

#listadoModificadores .modificador .duracionMod {
  width: 25px;
  text-align: center;
}

/* Tiradas */
/* Tiradas */
#dado {
  margin-block: 20px;
  background-color: #4B80B7;
  color: #053260;
  border: 5px #4B80B7 outset;
  font-size: 2em;
  display: block;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

#recursos > div {
  margin-block: 25px;
  border: 5px grey inset;
  background-color: lightgray;
  padding: 5px;
}

#tiradasDados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 25px;
  border: 5px grey inset;
  background-color: lightgray;
  padding: 5px;
}

#tiradasDados > img {
  width: 200px;
}

#tiradas > label {
  margin-block: 10px;
}

.tiradaDado {
  font-size: 1em;
}
